version: '3'

services:
  mariadb:
    image: mariadb:10.1.21
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASS
    restart: always

  owncloud:
    image: owncloud:10.0.3
    links:
      - mariadb
    volumes:
      - owncloud-data:/var/www/html
      - /house:/house
    ports:
      - "19025:80"
    restart: always

volumes:
  mariadb-data:
    driver: local
  owncloud-data:
    driver: local
